@using MemberManagement.Web.ViewModels.MemberVM
@model MemberDetailDeleteViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>
    <a asp-action="Index" style="text-decoration: none;">
        <i class="bi bi-arrow-left-circle fs-3" style="color: black" title="Back"></i>
    </a>
    Inactivity
</h1>

<h3>Are you sure you want to set this Member as inactive?</h3>
<div class="container">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row justify-content-center">
        <div class="col col-lg-10">
            <table class="table table-striped table-bordered table-hover responsive">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Html.DisplayNameFor(Model => Model.LastName)</td>
                        <td>@Html.DisplayFor(Model => Model.LastName)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(Model => Model.FirstName)</td>
                        <td>@Html.DisplayFor(Model => Model.FirstName)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(Model => Model.Birthdate)</td>
                        <td>@Html.DisplayFor(Model => Model.Birthdate)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(Model => Model.Address)</td>
                        <td>@Html.DisplayFor(Model => Model.Address)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(Model => Model.Branch)</td>
                        <td>@Html.DisplayFor(Model => Model.Branch)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(Model => Model.ContactNo)</td>
                        <td>@Html.DisplayFor(Model => Model.ContactNo)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(Model => Model.Email)</td>
                        <td>@Html.DisplayFor(Model => Model.Email)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(Model => Model.IsActive)</td>
                        <td>@Html.DisplayFor(Model => Model.IsActive)</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
    <div class="row justify-content-lg-center">
        <div class="col-2">
            <form asp-action="Delete">
                <input type="hidden" asp-for="MemberID" />
                <!-- If a member to be deleted does not exists -->
                <!-- or the member's IsActive is already set to flase -->
                @if (Model == null || Model.IsActive == "NO")
                {
                    <input disabled type="submit" value="Inactive" class="btn btn-danger" />
                }
                else
                {
                    <input type="submit" value="Inactive" class="btn btn-danger" />
                }
            </form>
        </div>
    </div>
</div>

    
</div>
